@model Seguros.Falabella.Application.Models.CompanyModels

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompanyModels</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.comp_nit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_nit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comp_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comp_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comp_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comp_phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.comp_id  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
